language: ruby
rvm:
  - "2.0"
  - "2.1"
  - "2.2"
  - "2.4"
  - "2.5"
cache: bundler
before_install:
  - gem update --system
  - gem install bundler
jobs:
  include:
    - script: bundle exec rake test
      rvm: "2.5"